body {
  background-color: #d5e8ec1a; /* Light blue-green background color */
}

.briem-hand {
  font-family: "Briem Hand", cursive; /* Sets the font family to "Briem Hand" */
  font-weight: normal; /* Adjusted font weight */
  font-style: normal; /* Adjusted font style */
}

.bglight {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green; /* Background color for the navigation bar */
}

.li-left {
  float: left;
}

.li-right {
  float: right;
}

.base-a {
  display: block;
  color: white;
  padding: 15px 10px; /* Adjusted padding */
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}

.base-a:hover {
  background-color: #ff9988; /* Light pink background color on hover */
}

.base-a-img {
  display: block;
  color: white;
  margin-left: 10px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}

.home-list {
  list-style-type: none;
  margin-left: 100px; /* Adjusted margin-left */
}

.home-a {
  color: #969847; /* Text color for home links */
}

.home-a:hover {
  text-decoration: none;
  color: #F00; /* Red text color on hover */
}
