{% load static %}
<html>
  <head>
    <title>{%block title%}Music{%endblock%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'music_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music_app/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Noto+Music&display=swap" rel="stylesheet">
  </head>
  <body>
    <div >
      <header>
        <nav>
          <ul class="bglight" style="background-color:rgb(9, 193, 206)">
            <li class="li-left">
              <a class="base-a-img" href="{% url 'home' %}"></a>
            </li>
             <li class="li-left" style="color:white">
              <h2 class="base-a">Music Streaming Application</h2>
            </li>
            {% if user.is_authenticated %}

            <li class="li-right">
              <a class="base-a" href="{% url 'logout' %}"><h2>Logout</h2></a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'add_album' user %}"><h2>Add Album</h2></a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'profile_detail' user %}"><h2>{{ user.username }}</h2></a>
            </li>
            {% else %}
            <li class="li-right">
              <a class="base-a" href="{% url 'login' %}"><h2>Login</h2></a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'signup' %}"><h2>Sign Up</h2></a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>
    </div>
    <div>
      {%block content%}
      {%endblock%}
    </div>

  </body>
</html>
